/*
BOOTSTRAP001
-ALEXANDRE BEAUVERGER
	alexandrebeauverger@gmail.com
-Olivier Romer
	romer.olivier@neuf.fr
	
*/

/*--Table des matieres--
01_Background
02_Header
03_Barre de navigation
04_Article
05_Formulaire de contact
06_Footer
*/
/*===== definition des tailles d'écrans et fenêtres pour la classe .container:olivier=====*/

/*===== Background =====*/
#background{
	width: 100%;
	height: 1400px;
    position: fixed;
    top: 0;
    left: 0;
	background-image: url(../img/bg.jpg);
	background-size: cover;
}
.test{
	width: 50%;
	height: 7500px;
	margin: 850px auto 280px auto;
	background-color: white;
	position: relative;
}
/*===== Header =====*/

/*===== Barre de navigation =====*/

/*===== Article =====*/

/*===== Formulaire de contact =====*/

/*===== Footer =====*/