/*
BOOTSTRAP001
-ALEXANDRE BEAUVERGER
	alexandrebeauverger@gmail.com
-Olivier Romer
	romer.olivier@neuf.fr	
*/

/*--Table des matieres--
01_Background
02_Header
03_Barre de navigation
04_Section
05_Formulaire de contact
06_Footer
*/

/*=====Font=====*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:900');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300i');

/*==========*/

html body{
	background-color: #222931;
}

/*===== Definition des tailles d'écrans et fenêtres pour la classe .container:olivier===*/

@media (min-width: 768px) {
  .container-fluid {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-fluid {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-fluid {
    width: 1540px;
  }
}

/*===== Boutons =====*/
button{
	height: 65px;
	margin: 85px 0;
	padding: 0 42px;
	background-color: rgba(0,0,0,0);
	border: 2px black solid;
	text-align: center;
	font-family: "Source sans pro", sans-serif;
	font-size: 17px;
	color: black;
	text-transform: uppercase;
	letter-spacing: 1px;
}

button:hover{	
	color: #18bfef;
	border-color: #18bfef;
	transition: 350ms;
	cursor:  pointer;
}
/*===== Background =====*/

#background{
	width: 100%;
	height: 1400px;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
	background-image: url(../img/bg.jpg);
	background-size: cover;
}

/*===== Fondu =====*/
#fadeUp{
	opacity: 0;
}
/*===== Header =====*/

header{
	height: 535px;
	margin: 235px auto 100px auto;
	position: relative;
}

.header{
	margin: 0px auto 140px auto;
	position: relative;
	word-wrap: break-word;
	text-align: center;
	color: white;
}

.tittle{
	margin-bottom: 40px;
	font-family: "Source sans pro", sans-serif;
	font-weight: 900;
	font-size: 110px;
	text-transform: uppercase;
	line-height: 110px;
	letter-spacing: 6px;
}

.sub-tittle{
	font-family : "Merriweather",georgia;
	font-size: 27px;
	font-style: italic;
	line-height: 65px;
}

.arrow{
	width: 100%;
	height: 90px;
	margin-top: 55px;
}

.arrow-circle{	
	max-width: 90px;
	height: 90px;
	margin: 0 calc(50% - 45px);
	padding-top: 27px;
	border:2px white solid;
	border-radius: 45px;
	color: white;
}

.arrow-circle:hover{	
	color: #18bfef;
	border-color: #18bfef;
	transition: 350ms;
	cursor:  pointer;
}

#massivelyBtn{
	width: 350px;
	height: 100px;
	margin: 0 calc(50% - 175px);
	bottom: -50px;
	padding: 10px 40px;
	position: absolute;
	border: 5px white solid;
	opacity: 0;
	font-size: 45px;
	color: white;
	font-weight: 900;
	letter-spacing: 4px;
}


#massivelyBtn:hover{	
	border-color: #18bfef;
	}
/*===== Barre de navigation =====*/
.container{
	position:relative
}

.navbar{
	
	background-color:rgba(186,186,186, 0.3);
	margin-bottom:0;
	padding-right:20px;
	border:none;
}

ul li  a{
	font-family: "Source sans pro", sans-serif;
	font-size:15px;
	letter-spacing:0.1em;
	color:white;
	height:65px;
}

.navbar-left .active a:hover{
	color:#00BFFF;
	background-color:white;
}

.navbar-left li a:hover{
	background-color:rgba(186,186,186, 0.4);
	color:white;
}

.navbar-right li a:hover{
	background-color:transparent;
	color:#00BFFF;
}
.navbar-left  .active a{
	background-color:white;
	color:black;
}




/*===== Section =====*/
section{
	
	background-color:white;

}

img{
	width: 100%;
	margin: 0 auto;
}

/*===== Formulaire de contact =====*/

.contact{
	background-color: #f5f5f5;
	text-align: left;	
	font-family : "Merriweather",georgia;
	font-style: normal;
	color: #717981;
}

.mail{
	width: 595px;
	margin: 0 auto;
	padding: 75px 0 90px 0;
}
h4{
	margin-bottom: 20px;
	font-family: "Source sans pro", sans-serif;
	font-size: 20px
	font-weight: 900;
	text-transform: uppercase;
}

input{
	width: 595px;
	height: 60px;
	margin-bottom: 25px;
	padding-left: 20px;
	background-color: #f5f5f5;
	border: 2px #e2e2e2 solid;
	font-size: 20px;
}

input:focus{
	border: 2px #18bfef solid;	
	transition: 350ms;
}

.message{	
	height: 195px;
	vertical-align: top;
}

.send{
	margin: 20px 0 0 0;
	border: 2px #717981 solid;
	color: #717981;
}

.right-middle{
	border-left: 2px #e2e2e2 solid;
}

.left-middle{
	border-right: 2px #e2e2e2 solid;
}
/*===== Footer =====*/

footer p{
	position: relative;
	margin: 90px auto 170px auto;
	text-align: center;
	color: white;
}