
/*===== Formulaire de contact =====*/
/*
BOOTSTRAP001
-ALEXANDRE BEAUVERGER
	alexandrebeauverger@gmail.com
-Olivier Romer
	romer.olivier@neuf.fr
	
*/

/*--Table des matieres--
01_Background
02_Header
03_Barre de navigation
04_Article
05_Formulaire de contact
06_Footer
*/

/*=====Font=====*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:900');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300i');

/*==========*/

html body{
	background-color: #222931;
}

/*===== Definition des tailles d'écrans et fenêtres pour la classe .container:olivier===*/

@media (min-width: 768px) {
  .container{
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container{
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container{
    width: 1540px;
  }
}

/*===== Commun =====*/

button{
	height: 65px;
	margin: 85px 0;
	padding: 0 42px;
	background-color: rgba(0,0,0,0);
	border: 2px black solid;
	text-align: center;
	font-family: "Source sans pro", sans-serif;
	font-size: 17px;
	color: black;
	text-transform: uppercase;
	letter-spacing: 1px;
}

button:hover{	
	color: #18bfef;
	border-color: #18bfef;
	transition: 350ms;
	cursor:  pointer;
}

.link{
	text-decoration: underline;
}

.link:active{
	color: white;
}

.link:hover{	
	color: #18bfef;
}
/*===== Background =====*/

#background{
	width: 100%;
	height: 1400px;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
	background-image: url(../img/bg.jpg);
	background-size: cover;
}

/*===== Fondu =====*/
#fadeUp{
	opacity: 0;
}

/*===== Header =====*/
header{
	height: 520px;
	margin: 0 auto;
	position: relative;
}

.header{
	margin: 0 auto;
	position: relative;
	word-wrap: break-word;
	text-align: center;
	color: white;
}

.tittle{
	margin-bottom: 40px; 
	font-family: "Source sans pro", sans-serif;
	font-weight: 900;
	font-size: 115px;
	text-transform: uppercase;
	line-height: 110px;
	letter-spacing: 6px;
}

.sub-tittle{
	margin-bottom: 42px; 
	font-family : "Merriweather",georgia;
	font-size: 27px;
	font-style: italic;
	line-height: 65px;
}

.arrow{
	width: 90px;
	height: 90px;
	margin: 0 calc(50% - 45px) 0 calc(50% - 45px);
	border: 2px white solid;
	border-radius: 45px;
	padding: 0px;
	color: white;
}

.arrow:hover{
	border: 2px #18bfef solid;
	color: #18bfef;
	transition: 350ms;
	cursor:  pointer;
}

#massivelyBtn{
	width: 350px;
	height: 100px;
	margin: 0 calc(50% - 175px);
	bottom: -50px;
	padding: 10px 40px;
	position: absolute;
	border: 5px white solid;
	opacity: 0;
	font-size: 45px;
	color: white;
	font-weight: 900;
	letter-spacing: 4px;
}

#massivelyBtn:hover{	
	border-color: #18bfef;
	color: #18bfef;
}

/*===== Barre de navigation =====*/
.container{
	position: relative;
}

.navbar{
	
	background-color:rgba(186,186,186, 0.3);
	margin-bottom:0;
	padding-right:20px;
	border:none;
}

ul li  a{
	font-family: "Source sans pro", sans-serif;
	font-size:15px;
	letter-spacing:0.1em;
	color:white;
	height:65px;
}

.navbar-left .active a:hover{
	color: #18bfef;
	background-color:white;
}

.navbar-left li a:hover{
	background-color:rgba(186,186,186, 0.4);
	color:white;
}

.navbar-right li a:hover{
	background-color:transparent;
	color: #18bfef;
}
.navbar-left  .active a{
	background-color:white;
	color:black;
}

/*===== Article =====*/
section{
	position:relative;
	background-color:white;
	text-align:center;
	padding-top:50px;
}


/*== definition des images===*/

img{
	
	margin: 50px auto 0;
	
}
/* ==action sur les survols==*/
img:hover{
	transform:scale(1.05);
}

h1,h2:hover{
	color: #18bfef;	
}

a:hover{
	text-decoration:none;
}


/* ==definition des balises h et p==*/
h3 {
	font-family:"MerriWeather";
	font-size:18px;
	margin:50px 0;
}


h1{
	font-family: "Source sans pro", sans-serif;
	color:black;
	font-size:4.8em;
}

section p {
	font-family:"MerriWeather";
	font-style: italic;
	font-size:15px;
	width:500px;
	margin:auto;
	letter-spacing:0.1em;
	line-height:30px;
	margin:50px auto 0;	
}
h2 {
	
	font-family: "Source sans pro", sans-serif;
	color:black;
	font-size:35px;
	
}
/*===== Formulaire de contact =====*/

.contact{
	width: 100%;
	margin: 0 auto;
	background-color: #f5f5f5;
	text-align: left;	
	font-family : "Merriweather",georgia;
	font-style: normal;
	color: #717981;
}

	/*--- Mail ---*/

.mail{
	width: 595px;
	margin: 0 auto;
	padding: 75px 0 90px 0;
}

h4{
	margin-bottom: 20px;
	font-family: "Source sans pro", sans-serif;
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px
}

input{
	width: 595px;
	height: 60px;
	margin-bottom: 25px;
	padding-left: 20px;
	background-color: #f5f5f5;
	border: 2px #e2e2e2 solid;
	font-size: 20px;
}

input:focus{
	border: 2px #18bfef solid;	
	transition: 350ms;
}

.message{	
	height: 195px;
	vertical-align: top;
}

.send{
	margin: 20px 0 0 0;
	border: 2px #717981 solid;
	color: #717981;
}

	/*---Coordonees---*/

.coord{
	width: 595px;
	margin: 0 auto;
	padding: 20px 0 0 0;
}

.coord-form{
	width: 100%;
	height: 175px;
	margin: 10px 0 0 0;
	line-height: 175px
}

.coord h4{
	width: 125px;
	position: relative;
	display: inline-flex;
	float: top;
}

.coord p{
	display: inline-flex;
	font-family : "Merriweather",georgia;
	font-size: 18px;
	line-height: 50px;
	font-weight: 300;
}

.coord ul{
	display: inline-flex;
	list-style: none;
	color: 
}

.coord ul li{
	margin: 0 5px 0 0;
}

.coord ul li:hover{
	margin: 0 5px 0 0;
	color:#00BFFF;
	transition: 350ms
}

.link{
	color: #717981;	
}

/*===== Footer =====*/

footer p{
	position: relative;
	text-align: center;
	color: white;
}