/*
BOOTSTRAP001
-ALEXANDRE BEAUVERGER
	alexandrebeauverger@gmail.com
-Olivier Romer
	romer.olivier@neuf.fr	
*/

/*--Table des matieres--
01_Background
02_Header
03_Barre de navigation
04_Article
05_Formulaire de contact
06_Footer
*/

/*=====Font=====*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:900');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300i');

/*==========*/

html body{
	background-color: #222931;
}

/*===== Definition des tailles d'écrans et fenêtres pour la classe .container:olivier===*/

@media (min-width: 768px) {
  .container-fluid {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-fluid {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-fluid {
    width: 1540px;
  }
}

/*===== Background =====*/

#background{
	width: 100%;
	height: 1400px;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
	background-image: url(../img/bg.jpg);
	background-size: cover;
}

/*===== Fondu =====*/
#fadeUp{
	opacity: 0;
}
/*===== Header =====*/

header{
	height: 535px;
	margin: 235px auto 100px auto;
	position: relative;
}

.header{
	margin: 0px auto 140px auto;
	position: relative;
	word-wrap: break-word;
	text-align: center;
	color: white;
}

.tittle{
	margin-bottom: 40px;
	font-family: "Source sans pro", sans-serif;
	font-weight: 900;
	font-size: 110px;
	text-transform: uppercase;
	line-height: 110px;
	letter-spacing: 6px;
}

.sub-tittle{
	font-family : "Merriweather",georgia;
	font-size: 27px;
	font-style: italic;
	line-height: 65px;
}

.arrow{
	width: 100%;
	height: 90px;
	margin-top: 55px;
}

.arrow-circle{	
	max-width: 90px;
	height: 90px;
	margin: 0 calc(50% - 45px);
	padding-top: 27px;
	border:2px white solid;
	border-radius: 45px;
	color: white;
}

.arrow-circle:hover{	
	color: #18bfef;
	border-color: #18bfef;
	transition: 350ms;
	cursor:  pointer;
}

#massivelyBtn{
	width: 350px;
	margin: 0 calc(50% - 175px);
	bottom: -50px;
	padding: 10px 40px;
	position: absolute;
	border: 5px white solid;
	opacity: 0;
	font-family: "Source sans pro", sans-serif;
	font-size: 45px;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: white;
}
/*===== Barre de navigation =====*/


.navbar-inverse ul li a {
	font-size:18px;
	font-family:"Source sans pro", helvetica, sans-serif;
	color:white;
	font-weight:900;
}


/*===== Article =====*/
.container-fluid{
	position: relative;
	background-color: white;
	text-align: center;
}
img{
	margin: 0 auto;
}
/*===== Formulaire de contact =====*/

/*===== Footer =====*/
footer p{
	position: relative;
	margin: 90px auto 170px auto;
	text-align: center;
	color: white;
}